header.header(class=headerClass)
  a.header__logo(class=logoAnchorClass href='#')
    img.logo__image(src=`${imgFolder}/icons/${logoImage}` alt='логотип Тайпотеки')
    if needLogoName
      span.logo__name Типотека
  if headerClass === `header--error`
    a.header__logo.header__logo--404.logo(href='#')
      img(src=`${imgFolder}/icons/logo.svg' alt='логотип Тайпотеки`)
    a.header__registration(href='#') Регистрация
    a.header__enter(href='#') Вход с паролем
  else
    if loggedIn
      if avatarOnlyHeader
        nav.header__nav
          ul.header__nav-list
            li.header__list-item
              p Алёна Фролова
            li.header__list-item
              a.header__exit(href='#') Выйти
        a.header__avatar.avatar
          img(src=`${imgFolder}/avatar-2.png` alt=`аватар пользователя`)
      else
        button.button.button--colored.header__button-new Новая запись
        .header__dropdown
          a.button.button--burger.header__burger(href='#') Открыть меню
          ul.navigation.header__navigation
            li.navigation__item
              a(href='main.html') Пункт меню
            li.navigation__item
              a(href='main.html') Пункт меню
            li.navigation__item
              a(href='main.html') Пункт меню
            li.navigation__item
              a(href='main.html') Пункт меню
    else
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            a.header__registration(href='#') Регистрация
          li.header__list-item
            a.header__enter(href='#') Вход с паролем
  a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
